@import '@/styles/scss/variables.scss';

.container {
  width: 235px;
  border: 1px solid $gray-50;
  padding: 1rem;
  border-radius: 8px;
  background-color: $white;

  .wrapperButton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .wrapperAmount {
    width: 100%;
    text-align: center;
    margin-top: 0.65rem;
  }
}