@import './scss/variables.scss';

.container {
  padding: 0 1rem;

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;

    .title {
      margin: 1em 0;
      line-height: 1.15;
      font-size: 1.5rem;
      text-align: center;
      font-weight: $font-bold;
    
      &::before,  &::after {
        content: "";
        display: inline-block;
        height: 0.35rem;
        width: 80px;
        background-color: $golden;
        position: relative;
        vertical-align: middle;
      }

      &::before {
        top: 18px;
        left: 97px;
      }

      &::after {
        bottom: 18px;
        right: 97px;
      }
    }

    .productsCards {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      flex-wrap: wrap;
    }
  }
}
