.container {
  width: 235px;
  height: 402px;
  border: 1px solid #EEEEEE;

  .wrapperButton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  button {
    padding: 0;
    background-color: transparent;
    border: none;
    .icon {
      color: var(--red);
      font-size: 20px;
    }
  }
  
}